<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluolang.platform.mapper.DeviceMapper">
    <insert id="insertDevice">
        insert into ell_smart_device_management(id, device_id, device_name, device_ip, location_x, location_y, action_time, close_time,
                               is_delete, location, create_time, create_by, device_type, rtsp)
        values (#{ellDevice.id}, #{ellDevice.deviceId}, #{ellDevice.deviceName}, #{ellDevice.deviceIp},
                #{ellDevice.locationX}, #{ellDevice.locationY}, #{ellDevice.actionTime}, #{ellDevice.closeTime},
                0, #{ellDevice.location}, #{ellDevice.createTime}, #{ellDevice.createBy}, #{ellDevice.deviceType},
                #{ellDevice.rtsp})
    </insert>
    <insert id="addJurisdiction">
        insert into pf_operator_rat(id, opt_id, module, rat)
        values
        <foreach collection="ellOperatorRatList" separator="," index="index" item="ellOperatorRat">
            (
            #{ellOperatorRat.id},#{ellOperatorRat.optId},#{ellOperatorRat.module},#{ellOperatorRat.rat}
            )
        </foreach>
    </insert>
    <insert id="addElectricity">
        insert into ell_electric_quantity(id, create_time, use_electricity, device_id)
        values (#{ellElectricQuantity.id}, #{ellElectricQuantity.createTime}, #{ellElectricQuantity.useElectricity},
                #{ellElectricQuantity.deviceId})
    </insert>
    <insert id="addAlarm">
        insert into ell_device_alarm(id, device_id, alarm_type, alarm_time)
        values (#{ellDeviceAlarm.id}, #{ellDeviceAlarm.deviceId}, #{ellDeviceAlarm.alarmType},
                #{ellDeviceAlarm.alarmTime})
    </insert>
    <update id="updateDevice">
        update ell_smart_device_management
        <set>
            update_time=#{ellDevice.updateTime}
            <if test="ellDevice.deviceId != null and ellDevice.deviceId != ''">
                ,device_id = #{ellDevice.deviceId}
            </if>
            <if test="ellDevice.deviceName != null and ellDevice.deviceName != ''">
                ,device_name = #{ellDevice.deviceName}
            </if>
            <if test="ellDevice.deviceIp != null and ellDevice.deviceIp != ''">
                ,device_ip = #{ellDevice.deviceIp}
            </if>
            <if test="ellDevice.locationX != null and ellDevice.locationX != ''">
                ,location_x = #{ellDevice.locationX}
            </if>
            <if test="ellDevice.locationY != null and ellDevice.locationY != ''">
                ,location_y = #{ellDevice.locationY}
            </if>
            <if test="ellDevice.actionTime != null and ellDevice.actionTime != ''">
                ,action_time = #{ellDevice.actionTime}
            </if>
            <if test="ellDevice.closeTime != null and ellDevice.closeTime != ''">
                ,close_time = #{ellDevice.closeTime}
            </if>
            <if test="ellDevice.location != null and ellDevice.location != ''">
                ,location = #{ellDevice.location}
            </if>
        </set>
        where id = #{ellDevice.id} and is_delete=0
    </update>
    <update id="deleteDevice">
        update ell_smart_device_management
        set is_delete=1
        where id = #{id}
    </update>
    <delete id="deletePublishTarget">
        delete
        from ell_info_publish_target
        where device_id = #{deviceId}
    </delete>
    <select id="queryAllByLimit" resultType="com.eluolang.platform.vo.EllDeviceVo">
        select
        id,
        device_id,device_name,device_ip,location_x,location_y,action_time,close_time,
        is_delete,
        location,
        device_type,
        rtsp
        from ell_smart_device_management
        <where>
            is_delete = 0
            <if test="ellDevice.id != null and ellDevice.id != ''">
                and id = #{ellDevice.id}
            </if>
            <if test="ellDevice.deviceId != null and ellDevice.deviceId != ''">
                and device_id = #{ellDevice.deviceId}
            </if>
            <if test="ellDevice.deviceName != null and ellDevice.deviceName != ''">
                and device_name like concat('%',#{ellDevice.deviceName},'%')
            </if>
            <if test="ellDevice.deviceIp != null and ellDevice.deviceIp != ''">
                and device_ip = #{ellDevice.deviceIp}
            </if>
            <if test="ellDevice.locationX != null and ellDevice.locationX != ''">
                and location_x = #{ellDevice.locationX}
            </if>
            <if test="ellDevice.locationY != null and ellDevice.locationY != ''">
                and location_y = #{ellDevice.locationY}
            </if>
            <if test="ellDevice.actionTime != null and ellDevice.actionTime != ''">
                and action_time = #{ellDevice.actionTime}
            </if>
            <if test="ellDevice.closeTime != null and ellDevice.closeTime != ''">
                and close_time = #{ellDevice.closeTime}
            </if>
            <if test="ellDevice.deviceType!=0">
                and device_type=#{ellDevice.deviceType}
            </if>
            <if test="ellDevice.createBy!=0 and ellDevice.createBy!=1">
                and id in (select rat from pf_operator_rat where opt_id=#{ellDevice.createBy} and module=2)
            </if>
        </where>
    </select>
    <select id="findDeviceInfo" resultType="com.eluolang.platform.vo.EllDeviceInfoVo">
        select ei.interval_time,
               ei.id as infoId,
               eipt.release_order,
               ei.info_type,
               ei.text,
               ei.version,
               ed.action_time,
               ed.close_time,
               ei.info_title,
               eipt.release_time,
               ei.version
        from ell_smart_device_management ed
                 left join ell_info_publish_target eipt on eipt.device_id = ed.id
                 left join ell_information ei on ei.id = eipt.info_id and ei.is_delete = 0
        where ed.id = #{deviceId}
          and ed.is_delete = 0
    </select>
    <select id="selFileUrl" resultType="java.lang.String">
        select fm.file_url
        from ell_info_file eif
                 left join file_mgr fm on fm.id = eif.file_id
        where eif.info_id = #{infoId}
    </select>
    <select id="selOpt" resultType="com.eluolang.common.core.pojo.EllOperator">
        select *
        from pf_operator
        where id in
              (select id
               from pf_operator
               where (select path from pf_operator where id = #{id}) like concat(path, '%'))
    </select>
    <select id="selLocation" resultType="com.eluolang.platform.vo.EllDeviceLocationVo">
        select device_name, location, CONCAT(location_x,',',location_y) as locationXY
        from ell_smart_device_management
        where is_delete = 0
        <if test="deviceType!=0">
            and device_type=#{deviceType}
        </if>
        <if test="createBy!=0 and createBy!=1">
            and id in (select rat from pf_operator_rat where opt_id=#{createBy} and module=2)
        </if>
        group by id
    </select>
    <select id="selRtsp" resultType="java.lang.String">
        select rtsp
        from ell_smart_device_management
        where id = #{deviceId}
    </select>
</mapper>