<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluolang.platform.mapper.RecordsMapper">
    <select id="findDevice" resultType="com.eluolang.common.core.pojo.EllDevice">
        select *
        from ell_smart_device_management
        where
        is_delete = 0
        <if test="createBy!=0 and createBy!=1">
            and id in (select rat from pf_operator_rat where opt_id = #{createBy} and
            module =2)
        </if>
    </select>
    <select id="selAlarmCount" resultType="java.lang.Integer">
        select IFNULL(count(id), 0)
        from ell_device_alarm
        where 1=1
        <if test="createBy!=0 and createBy!=1">
            and device_id in (select rat from pf_operator_rat where opt_id = #{createBy}
            and module =2)
        </if>
    </select>
    <select id="selAlarm" resultType="com.eluolang.common.core.pojo.EllDeviceAlarm">
        select eda.*,ed.device_name
        from ell_device_alarm eda
        left join ell_smart_device_management ed
        on ed.is_delete = 0
        <if test="createBy!=0 and createBy!=1">
            and
            ed.id in (select rat from pf_operator_rat where opt_id = #{createBy} and module =2)
        </if>
        where
        ed.is_delete = 0
            and ed.id=eda.device_id
        order by eda.alarm_time desc
    </select>
    <select id="selDayElectricity" resultType="java.lang.Integer">
        select IFNULL(sum(use_electricity),0)
        from ell_electric_quantity where
        to_days(create_time)=to_days(date_sub(now(),interval #{dayTime} day))
        <if test="deviceType!=0">
            and device_type=#{deviceType}
        </if>
        <if test="createBy!=0 and createBy!=1">
            and device_id in (select rat from pf_operator_rat where
            opt_id=#{createBy})
        </if>
    </select>
    <select id="selElectricity" resultType="java.lang.Integer">
        select IFNULL(sum(use_electricity),0)
        from ell_electric_quantity
        where MONTH(create_time)=MONTH(now())-#{lastMonth}
        <if test="deviceType!=0">and device_type=#{deviceType}</if>
        <if test="createBy!=0 and createBy!=1">
            and device_id in (select rat from pf_operator_rat where
            opt_id=#{createBy})
        </if>
    </select>
</mapper>